.top{
    padding-bottom: -1%;
    margin-bottom: 0%;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top .logo{
    width: 9rem;
}

.top .powered-by{
    color: #fafafa;
    margin-left: 60%;
}
.top .copy-r{
    color: rgb(255, 255, 255);
    width: 10%;
    font-size: 10%;
}

.bottom i{
    color: #fff;
    font-size: 1.4rem;
    margin-left: 3rem;
    padding: 0.1%;
    

}

.bottom i:hover{
    color: #ece92e
    
}


.instagram{
    width: 6%;
}

.bottom{
    background-color: black;
    color: #fff;
    padding-top: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h2{
    font-size: 1.3rem;
    padding: 1rem 0 0.08rem 0;
}

.bottom h4{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
    .top{
        padding-bottom: -1%;
        margin-bottom: 0%;
        background-color: black;
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .top .logo{
        width: 5rem;
    }
    .top .powered-by{
        color: #fafafa;
        margin-left: 8%;
        font-size: 15%;
    }
    .top .copy-r{
        color: rgb(255, 255, 255);
        width: 10%;
        font-size: 1%;
    }
}