.footer{
    padding: 1%;
    margin-bottom: 0%;
    padding-bottom: 1%;
    color: #fff
}
.logo{
    width: 10%;
}
.top{
    padding-bottom: -1%;
    margin-bottom: 0%;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom i{
    color: #fff;
    font-size: 1.4rem;
    margin-left: 3rem;
    padding: 0.1%;
    

}

.bottom i:hover{
    color: #ece92e
    
}


.instagram{
    width: 6%;
}

.bottom{
    background-color: black;
    color: #fff;
    padding-top: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h2{
    font-size: 1.3rem;
    padding: 1rem 0 0.08rem 0;
}

.bottom h4{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
    .footer{
        padding: 4rem 2rem;
    }
    

}